*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 600px;
  background-color: #000000;
  color: #ffffff;
}
  
.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  background-image: url("https://st1.uvnimg.com/dims4/default/993ea57/2147483647/thumbnail/480x270/quality/75/?url=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fc%2Fcharles-xavier-comics.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  padding: 1rem;
  font-size: 1.5rem;
}

input { 
  width: 20%;
}

input {
  margin: 5px;
  padding: 10px;
  width: 60%;
  border-radius: 15px;
  border: none;
  font-size: 1.3rem;
}

button {
  border: none;
  color: #ffffff;
  background-color: slateblue;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.resultado {
  text-align: center;
  margin-top: 1rem;
}